/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Exo', sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

/* NAVBAR */
.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    height: 80px;
    background-color: #00a8ff;
    display: flex;
    align-items: center;
    padding: 0 60px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 20px;
    text-decoration: none;
    color: inherit;
}

.logo:hover .logo-text {
    color: #560079;
}

.logo-text {
    color: #000;
    font-size: 20px;
    font-weight: 700;
    white-space: nowrap;
}

.nav-right {
    margin-left: auto;
}

.nav-menu {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav-menu a:hover {
    color: #560079;
}

.nav-menu a {
    display: block;
    color: #000;
    font-size: 20px;
    font-weight: 600;
    font-variant: all-small-caps;
    text-decoration: none;
    text-align: center;
}

/* HERO */
.hero {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 120px 10%;
    background: linear-gradient(180deg, #030031, #2e002c);
}

.hero-rectangle {
    position: absolute;
    width: 250px;
    height: 400px;
    background: linear-gradient(180deg, #1100ff, #560079);
    border-radius: 20px;
}

.hero h1,
.hero h2 {
    position: relative;
    left: 80px;
    white-space: nowrap;
}

.hero h1 {
    color: #fff;
    font-size: 90px;
    font-weight: 600;
    margin-bottom: -30px;
    font-variant: all-small-caps;
    text-align: center;
}

.hero h2 {
    color: #00a8ff;
    font-size: 100px;
}

/* HERO IMAGE */
.hero-image-wrapper {
    position: relative;
}

.circle {
    position: absolute;
    width: 90px;
    height: 90px;
    border: 4px solid #fff;
    border-radius: 50%;
}

.circle-top {
    top: -20px;
    right: -20px;
}

.circle-bottom {
    bottom: -20px;
    left: -20px;
}

/* SEARCH BAR*/
.hero-search {
    margin-top: 400px;
    margin-left: 400px;
    display: flex;
    align-items: center;
    background: #00a8ff;
    border-radius: 50px;
    padding: 8px 8px 8px 20px;
    width: 500px;
}

.hero-search input {
    flex: 1;
    background: transparent;
    border: none;
    color: #fff;
    font-size: 20px;
    margin-right: 10px;
}

.search-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: blue;
    font-size: 30px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-decoration: none;
}

.search-button:hover {
    transform: scale(1.15);
}

/* SECTION 1 */
.section-1 {
    background: linear-gradient(180deg, #2e002c, #030031);
    padding: 100px;
}

.container-1 {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 70px;
}

.left {
    position: relative;
    flex: 1;
    display: flex;
    justify-content: center;
}

.phone-img {
    margin-left: 200px;
    width: 100%;
    transform: translateY(-50px) scale(1.5);
    z-index: 1;
}

.title-1 {
    position: absolute;
    bottom: -30px;
    left: -20px;
    text-align: center;
    background: linear-gradient(90deg, #1a00ff, #6a00ff);
    padding: 25px 40px;
    border-radius: 20px;
    font-weight: 700;
    z-index: 2;
    text-transform: uppercase;
}

.title-1 h1 {
    font-size: 70px;
    color: #fff;
}

.title-1 h2 {
    font-size: 66px;
    color: #00bfff;
}

/* INFO CARDS */
.right {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 35px;
}

.info-card {
    border: 4px solid;
    border-image: linear-gradient(135deg, #2b00ff, #a000ff) 1;
    padding: 28px;
    background: #050505;
}

.info-card:hover {
    transform: translateY(-6px);
}

.info-card h3 {
    color: #00bfff;
    font-size: 20px;
    margin-bottom: 12px;
    letter-spacing: 3px;
}

.info-card p {
    font-size: 16px;
    line-height: 1.6;
    color: #fff;
}

/* SECTION 2 */
.section-2 {
    background: linear-gradient(180deg, #030031, #2e002c);
    padding: 100px;
}

.container-2 {
    max-width: 1300px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.title-2 h2 {
    font-size: 50px;
    color: #fff;
    margin-bottom: 30px;
}

.title-2 h2 span {
    font-size: 70px;
    color: #00b7ff;
}

.box-text {
    border: 4px solid;
    border-image: linear-gradient(135deg, #2b00ff, #a000ff) 1;
    padding: 28px;
    max-width: 520px;
    background: black;
}

.box-text p {
    font-size: 18px;
    line-height: 1.6;
    color: #fff;
}

/* VISUAL CLOUD */
.right-2 {
    display: flex;
    justify-content: center;
}

.cloud-card {
    position: relative;
    width: 420px;
    border-radius: 20px;
}

.ellipse {
    position: absolute;
    width: 90px;
    height: 90px;
    border: 4px solid white;
    border-radius: 50%;
}

.top-right {
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
}

.bottom-left {
    bottom: 0;
    left: 0;
    transform: translate(-50%, 50%);
}

/* SECTION 3 */
.section-3 {
    background: linear-gradient(180deg, #2e002c, #030031);
    padding: 100px;
}

.left-3 {
    max-width: 1300px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.rectangle-3 {
    position: absolute;
    margin-left: 900px;
    margin-bottom: 500px;
    width: 400px;
    height: 200px;
    background: linear-gradient(180deg, #1100ff, #560079);
    border-radius: 20px;
    z-index: 1;
}

.title-3 {
    z-index: 2;
    text-align: right;
    margin-right: 100px;
}

.title-3 h1 {
    font-size: 50px;
    color: #fff;
    margin-bottom: 30px;
}

.title-3 h1 span {
    font-size: 70px;
    color: #00c6ff;
}

.text-box-3 {
    border: 4px solid;
    border-image: linear-gradient(135deg, #2b00ff, #a000ff) 1;
    padding: 28px;
    max-width: 600px;
    background: black;
}

.text-box-3 p {
    font-size: 18px;
    line-height: 1.6;
    color: #fff;
}

/* FINAL SECTION */
.final-section {
    position: relative;
    background: linear-gradient(180deg, #030031, #2e002c);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px;
}

.visual-wrap {
    position: relative;
    width: 1300px;
    height: 700px;
}

.bubble {
    position: absolute;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 30px;
    z-index: 2;
}

.bubble-top {
    width: 360px;
    height: 360px;
    background: linear-gradient(180deg, #1100ff, #560079);
    left: 300px;
    bottom: 350px;
}

.bubble-bottom {
    width: 360px;
    height: 360px;
    background: linear-gradient(180deg, #1100ff, #560079);
    left: 300px;
    top: 400px;
}

.bubble-image {
    width: 500px;
    height: 500px;
    right: 150px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.bubble-image img {
    width: 120%;
    height: 120%;
}

.bubble-top h2,
.bubble-bottom h3 {
    font-size: 30px;
    line-height: 40px;
    font-weight: 700;
}

.bubble-top h2 {
    color: #fff;
}

.bubble-bottom h3 {
    color: #33ccff;
}

/* FOOTER */
.footer {
    background-color: #00a8ff;
    padding: 20px;
}

.footer-content {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-weight: 700;
}

.footer-left {
    position: absolute;
    left: 400px;
    display: flex;
    align-items: center;
    font-size: 18px;
    color: #000;
}

.footer-left img {
    width: 38px;
    margin-right: 10px;
}

.footer-center {
    font-size: 18px;
    color: #000;
    text-align: center;
    transform: translateX(180px);
}

/*RESPONSIVE TABLET DESIGN*/
@media (max-width: 1500px) {

    /* NAVBAR ADJUSTMENTS */
    .navbar {
        padding: 0 30px;
    }

    .nav-menu {
        gap: 20px;
    }

    .nav-menu a {
        font-size: 16px;
    }

    /* HERO ADJUSTMENTS */
    .hero {
        padding: 50px;
    }

    .hero h1 {
        font-size: 30px;
        margin-top: 40px;
    }

    .hero h2 {
        font-size: 40px;
        margin-top: 30px;
    }

    .hero h1,
    .hero h2 {
        left: 20px;
    }

    .hero-rectangle {
        width: 150px;
        height: 300px;
    }

    .hero-search {
        margin-top: 350px;
        margin-left: -85px;
        transform: scale(0.65);
    }

    .hero-image img {
        margin-top: -100px;
    }

    .circle {
        display: none;
    }

    /* SECTION 1 */
    .section-1 {
        padding: 50px;
    }

    .phone-img {
        position: absolute;
    }

    .title-1 {
        position: relative;
        bottom: 80px;
        left: 0px;
        margin: 300px auto 0 auto;
    }

    .title-1 h1 {
        font-size: 40px;
        white-space: nowrap;
    }

    .title-1 h2 {
        font-size: 50px;
        white-space: nowrap;
    }

    .right {
        gap: 20px;
        margin-top: -150px;
    }

    .info-card {
        padding: 20px;
    }

    .info-card p {
        font-size: 14px;
    }

    /* SECTION 2 */
    .section-2 {
        padding: 70px;
    }

    .title-2 h2 {
        font-size: 30px;
    }

    .title-2 h2 span {
        font-size: 40px;
        white-space: nowrap;
    }

    .box-text {
        max-width: 420px;
    }

    .box-text p {
        font-size: 15px;
    }

    .cloud-card {
        transform: scale(0.80);
    }

    /* SECTION 3 */
    .section-3 {
        padding: 70px;
    }

    .image-3 {
        min-width: 100%;
    }

    .text-box-3 {
        min-width: 300px;
    }

    .title-3 h1 {
        font-size: 38px;
    }

    .title-3 h1 span {
        font-size: 48px;
    }

    .text-box-3 p {
        font-size: 15px;
    }

    /* FINAL SECTION */
    .visual-wrap {
        width: 100%;
        grid-template-columns: 1fr 1fr;
    }

    /* FOOTER */
    .footer-left {
        left: 150px;
    }
}

/* MOBILE DESIGN */
@media (max-width: 768px) {

    /* NAVBAR ADJUSTMENTS */
    .navbar {
        flex-direction: column;
        height: auto;
        padding: 20px;
    }

    .nav-right {
        margin-left: 0;
        margin-top: 15px;
    }

    .nav-menu {
        flex-direction: column;
        gap: 12px;
    }

    .nav-menu a {
        font-size: 14px;
    }

    /* HERO ADJUSTMENTS */
    .hero {
        flex-direction: column;
        padding: 30px 20px;
        min-height: auto;
        text-align: center;
    }

    .hero-rectangle {
        position: relative;
        width: 300px;
        height: 100px;
        margin: auto;
    }

    .hero h1 {
        font-size: 30px;
        left: 0;
    }

    .hero h2 {
        font-size: 35px;
        left: 0;
    }

    .hero-search {
        margin: 50px auto;
        width: 100%;
    }

    .hero-image img {
        margin-top: 0px;
        width: 250px;
    }

    .circle {
        display: none;
    }

    /* SECTION 1 */
    .container-1 {
        flex-direction: column;
        gap: 100px;
    }

    .phone-img {
        position: absolute;
        bottom: 140px;
        left: -110px;
        transform: scale(2);
    }

    .title-1 {
        position: relative;
        bottom: 80px;
        left: 0px;
        margin: 300px auto 0 auto;
    }

    .title-1 h1 {
        font-size: 30px;
    }

    .title-1 h2 {
        font-size: 26px;
    }

    .right {
        grid-template-columns: 1fr;
        gap: 15px;
    }

    /* SECTION 2 */
    .container-2 {
        grid-template-columns: 1fr;
        gap: 30px;
        text-align: center;

    }

    .title-2 h2 {
        font-size: 26px;
    }

    .title-2 h2 span {
        font-size: 32px;
    }

    .box-text p {
        font-size: 14px;
    }

    .cloud-card {
        width: 100px;
        transform: scale(0.60);
        left: -100px;
        bottom: 100px;
    }

    .ellipse {
        display: none;
    }

    /* SECTION 3 */
    .left-3 {
        grid-template-columns: 1fr;
        gap: 30px;
        margin-top: -300px;
    }

    .rectangle-3 {
        display: none;
    }

    .image-3 {
        transform: scale(0.60);
        margin-left: -70px;
    }

    .title-3 {
        text-align: center;
        margin: 0;
        margin-top: -80px;
    }

    .title-3 h1 {
        font-size: 26px;
    }

    .title-3 h1 span {
        font-size: 32px;
    }

    .text-box-3 p {
        font-size: 14px;
    }

    /* FINAL SECTION */
    .visual-wrap {
        grid-template-columns: 1fr 1fr;
        transform: scale(0.50);
        margin-top: -100px;
    }

    .bubble-top,
    .bubble-bottom {
        margin-left: -100px;
    }

    .bubble-image {
        right: -50px;
    }

    /* FOOTER */
    .footer-content {
        flex-direction: column;
        gap: 8px;
    }

    .footer-left {
        position: static;
    }

    .footer-center {
        transform: none;
        font-size: 14px;
    }
}